.portfolio {
	margin-top: 3rem;
	margin-bottom: 3rem;

}


.description {
	padding-top: 9rem;
}

h3 {
	font-size: 30px;
	font-weight: bold;
}

h4 {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 15px;
	text-align: left;
}

.humantrafficking{
	margin-left: auto;
    margin-right: auto;
}
